body {
    margin: 2% 10% 5% 10%;
}

/*Containers*/
.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wide {
    left: 0;
    margin-left: -12.5%;
    margin-right: -12.5%;
    width: 100vw;
}

.content-block {
    margin: 2em 5% 2em 5%;
}

.flex-one-half{
    flex: 1 1 0px;
    width: 50%;
    margin: 1em;
}

.flex-one-third{
    flex-shrink: 1;
    width: 33%;
    margin: 1em;
}

.flex-two-thirds{
    flex-shrink: 1;
    width: 66%;
    margin: 1em;
}

.flex-one-quarter{
    flex-shrink: 1;
    width: 25%;
    margin: 1em;
}

.flex-three-quarters{
    flex-shrink: 1;
    width: 75%;
    margin: 1em;
}

.card-format{
    background-color: #656274;
    padding: 2em;
    color: white;
    text-align: center;
}

/*Animations*/
@keyframes fading {
    0%   {opacity: 1;}
    25%  {opacity: 0.6;}
    50%  {opacity: 0.2;}
    75%  {opacity: 0.6;}
    100% {opacity: 1;}
  }
  
  @keyframes bounce {
    0%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-1em);}
  }

  div.bounce:hover {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  div.fading:hover {
    animation-name: fading;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes fade-in {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }